

<div class="nav">
  <div class="sports-link"><a href="/sports">sports</a></div>
  <div class="portfolio-link"><a href="/portraits">portraits</a></div>
  <div class="logo-link"><img class="logo-img" src="/img/QF.png" style="object-fit: contain; height: 100%; width: 100%"></div>
  <div class="reflections-link"><a href="/reflections">reflections</a></div>
  <div class="italy-link"><a href="/italy">italy</a></div>
</div>
