

<div class="nav">
  <ul class="nav-ul">
    <li class="nav-li"><a href="#">Sports</a></li>
    <li class="nav-li"><a href="#">Portfolio</a></li>
    <li class="nav-li"><a href="#">LOGO</a></li>
    <li class="nav-li"><a href="#">Reflections</a></li>
    <li class="nav-li"><a href="#">Italy</a></li>
  </ul>
</div>
