html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: grey;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: grey;
}

#container {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background: black;
    margin: auto;
}

#logo {
    position: relative;
    height: 15%;
    object-fit: contain;
    display: inline-block;
}

#logo:hover {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#nav {
    position: relative;
    display: inline-block;
    font-size: calc(4vh);
    transform: translateY(-2vh);
}

#nav > a {
    text-align: center;
    font-family: Didot, "Didot LT STD";
    font-style: italic;
    margin: 5%;
}

#main {
    position: relative;
    width: 100%;
    height: 85%;
}

#main * {
    height: 100%;
}

#slideItem {
    object-fit: contain;
    position: relative;
    height: 100%;
    width: 100%;
}
  