<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>

    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body>

    <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>

    <div class="container">
      <% include ../partials/nav %>
      <% include ../partials/main %>
      <!-- <% include ../partials/preview %> -->
    </div>

    <div class="copyright">All images copyright protected by Quinn Foster &amp; UK Athletics</div>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>
    <script type="text/javascript">
      console.log("loading main images...");
      load_main_img("reflections");
      // load_thumbnails();
      stylize();
    </script>
  </body>
</html>
