<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/edit.css">

  </head>
  <body>

    <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>

    <div class="container">

      <% include ../partials/nav %>

      <div class="main">
        <!-- NOTE: EXAMPLE -->

        <form action="/update_index" method="POST">
          <label for="team_name">Enter name: </label>
          <input id="team_name" type="text" name="name_field" value="Default name for team.">
          <button type="submit" value="OK">inner text</button>
        </form>

        <!-- <div class="thumbnail" id="p1">
          <img src="/img/portfolio/resized/550/reflections/reflections_QF_01.JPG">
          <p class="caption">CAPTION</p>
          <p class="album">ALBUM</p>
          <p class="index">1</p>
        </div>

        <div class="thumbnail" id="p2">
          <img src="/img/portfolio/resized/550/reflections/reflections_QF_02.JPG">
          <p class="caption">CAPTION</p>
          <p class="album">ALBUM</p>
          <p class="index">1</p>
        </div>

        <div class="thumbnail" id="p3">
          <img src="/img/portfolio/resized/550/reflections/reflections_QF_03.JPG">
          <p class="caption">CAPTION</p>
          <p class="album">ALBUM</p>
          <p class="index">1</p>
        </div>

        <div class="thumbnail" id="p4">
          <img src="/img/portfolio/resized/550/reflections/reflections_QF_04.JPG">
          <p class="caption">CAPTION</p>
          <p class="album">ALBUM</p>
          <p class="index">1</p>
        </div> -->

      </div>

    </div>

    <script type="text/javascript" src="js/edit.js"></script>
    <script type="text/javascript">
      // get_edit_images();
      stylize();
    </script>
  </body>
</html>
