<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/edit.css">

  </head>
  <body>

    <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>

    <div class="container">

      <% include ../partials/nav %>

      <div class="main">
        <!-- NOTE: EXAMPLE -->

        <!-- <div>
          <img src="https://quinnfostersreflection.com/img/portfolio/resized/450/reflections/reflections_QF_01.JPG" style="height: 80%; width: 100%; object-fit: contain;">

          <form id="edit-photo1">
            Caption: <input id="caption-in" type="text">
            <br>
            Index: <input id="index-in" type="text">
            <input type="submit">
          </form>

          <br>
          <button type="submit" id="delete-photo1">Delete</button>
        </div>

        <div>
          <img src="https://quinnfostersreflection.com/img/portfolio/resized/450/reflections/reflections_QF_01.JPG" style="height: 80%; width: 100%; object-fit: contain;">

          <form id="edit-photo2">
            Caption: <input id="caption-in" type="text">
            <br>
            Index: <input id="index-in" type="text">
            <input type="submit">
          </form>

          <br>
          <button type="submit" id="delete-photo2">Delete</button>
        </div> -->

      </div>

    </div>

    <script type="text/javascript" src="js/edit.js"></script>
    <script type="text/javascript">
      // get_edit_images();
      stylize();
    </script>
  </body>
</html>
