

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: grey;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: grey;
}

.container {
  width: 90%;
  height: 90%;
  background: black;
  margin: auto;
  position: absolute;
}

.nav {
  width: 80%;
  height: 7%;
  margin: auto;
  position: absolute;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  text-align: center;
  font-size: 3vw;
  font-family: Didot, "Didot LT STD";
  font-style: italic;
}

.sports-link {
  grid-column: 1 / 2;
  color: white;
}

.portfolio-link {
  grid-column: 2 / 3;
  color: white;
}

.logo-link {
  grid-column: 3 / 4;
  color: white;
  height: 13vw;
  transform: translateY(-35%);
}

/* .logo-link:hover {
  transform: fli
} */

.logo-img:hover {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.reflections-link {
  grid-column: 4 / 5;
  color: white;
}

.italy-link {
  grid-column: 5 / 6;
  color: white;
}

.slick-dots {
  transform: translateY(1.5vh);
}

/*.slick-dots > li {
  margin: 0 2vw;
}*/

.slick-dots li button:before {
  color: grey;
  font-size: 2vh;
  line-height: 2vh;
  padding-top: 2%;
}

.main {
  width: 80%;
  height: 82.5%;
  margin: auto;
  position: absolute;
}

/*
.preview {
  width: 80%;
  height: 20%;
  margin: auto;
  position: absolute;
}
*/

.main-slide {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.main-slide-img {
  margin: auto;
}

.preview-slide {
  width: 100%;
  height: 80%;
  position: relative;
  margin: auto;
  top: calc(20%);
}

.preview-slide-img {
  margin: auto;
}

.slick-slide {
  margin: 0 10px;
  outline: none;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-track > div > div {
  height: 100%;
}

.slick-track > div > div > div {
  height: 100%;
}

.slick-track > div > div > div > img {
  height: 100%;
  width: 100%;
}

.copyright {
  position: absolute;
  top: 98%;
  left: 1%;
  font-size: 1.25vh;
  width: 99%;
  text-align: center;
}
