/* styling for the image wrapper  */

#image_wrap {
    /* dimensions */

    width: 677px;
    margin: 15px 0 30px 40px;
    padding: 15px 0;
    /* centered */

    text-align: center;
    /* some "skinning" */

    background-color: #efefef;
    border: 2px solid #fff;
    outline: 1px solid #ddd;
    -moz-ouline-radius: 4px;
}
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/

.scrollable {
    /* required settings */

    position: relative;
    overflow: hidden;
    width: 680px;
    height: 52px;
}
#career .scrollable {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 320px;
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/

.scrollable .items {
    /* this cannot be too large */

    width: 20000em;
    position: absolute;
    clear: both;
}
#career .scrollable .items {
    width: 20000em;
    position: absolute;
    clear: both;
    background: padding: 0px 0px 0px 0px
}
.items div {
    float: left;
    width: 136px;
}
/* single scrollable item */

.scrollable img {
    float: left;
    margin: 0px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    height: 50px
}
/* active item */

.scrollable .active {
    border: 1px solid #666666;
    position: relative;
    cursor: default;
}
/* this makes it possible to add next button beside scrollable */

.scrollable {
    float: left;
}
/* prev, next, prevPage and nextPage buttons */

a.browse {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 1px;
}
/* right */

a.left,
a.right {
    margin-top: 20px
}
a.right {
    background: url(../images/btn-next.png) no-repeat;
    clear: right;
    margin-right: 0px;
}
/* left */

a.left {
    background: url(../images/btn-previous.png) no-repeat;
    width: 51px;
    margin-left: 0px;
}
/* disabled navigational button */

a.disabled {
    visibility: hidden !important;
}
