body {
    background-color: grey;
}

.container {
    /* background-color: black;
    background-clip: content-box; */
}

.nav {
    background-color: black;
    background-clip: content-box;
}

.nav-item {
    color: white;
    text-decoration: none;

    font-size: 3vw;
    font-family: Didot, "Didot LT STD";
    font-style: italic;
}

.logo:hover {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}