

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: grey;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: grey;
}

.container {
  width: 90%;
  height: 90%;
  background: black;
  margin: auto;
  position: absolute;
}

.nav {
  width: 80%;
  height: 7%;
  margin: auto;
  position: absolute;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  text-align: center;
  font-size: 3vw;
  font-family: Didot, "Didot LT STD";
  font-style: italic;
}

.logo-link {
  height: 13vw;
  transform: translateY(-35%);
}

.logo-img:hover {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.main {
  width: 80%;
  height: 82.5%;
  margin: auto;
  position: absolute;
}

.copyright {
  position: absolute;
  top: 98%;
  left: 1%;
  font-size: 1.25vh;
  width: 99%;
  text-align: center;
}

/* SLICK STYLING ------ */

.main-slide {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.main-slide-img {
  margin: auto;
}

.slick-slide {
  margin: 0 10px;
  outline: none;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-track > div > div {
  height: 100%;
}

.slick-track > div > div > div {
  height: 100%;
}

.slick-track > div > div > div > img {
  height: 100%;
  width: 100%;
}

